{% extends "complaint/base_generic.html" %}

{% block content %}
{% if type != 'edit' %}
<h1>Complaint form</h1>
{% else %}
<h1>Edit an author</h1>
{% endif %}
  {% load crispy_forms_tags %}
  <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {% if type != 'edit' %}
      <input type="submit" value="Submit" class="btn btn-primary"/>
      {% else %}
      <input type="submit" value="Update" class="btn btn-primary"/>
      {% endif %}
      <a href="{% url 'index' %}" class="btn btn-danger">Cancel</a>
  </form>
{% endblock %}